*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 2rem;
    Color: white;
    font-family: 'Cookie', cursive;
}

.navbar-brand:hover{
    color: white;
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
}

.nav-link:hover{
    color:white;
}

.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid rgb(51, 44, 44);
}

.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(51, 44, 44);
    color: white;
    border-radius: 60px;
    font-weight: 700;


}

.product{
    color: white;
}

.product p{
    margin: 0;
}

.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline:none;
    background-color: rgba(51, 44, 44, 0.473);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn1:hover{
    background-color: rgb(51, 44, 44);
    transition: 0.5s;
}
.buy{
    background-color:rgb(15, 15, 15);
    color: white;
}

.buy input{
    height: 30px;
    width: 99%;
    border: 2px solid white;
    outline: none;
    background: rgb(15, 15, 15);
    color: white;
    font-weight: 600;
    margin-bottom: 1;
}

.buy h6{
    margin-bottom: 28px;
}

.news{
    background-color:  rgb(15, 15, 15);
    color: white;
}

.btn2{
    height: 46px;
    width: 100px;
    background:white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
    color:black;
}

.news input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: rgb(15, 15, 15);
    color: white;
    margin-top: 20px;
    font-weight: 600;
}


.news::placeholder{
    color:white;
}

.news p{
    margin: 0;
}

.fa{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}